body {
  background-color:#66CDAA;
}
.row {
  margin-top: 15%;
}
.thumbnail {
  -moz-box-shadow:1px 1px 16px #7A7A7A;
  -webkit-box-shadow:1px 1px 16px #7A7A7A;
  box-shadow:1px 1px 16px #7A7A7A;
}
#footer a {
  text-decoration:none;
  color:black;
}
